RewriteEngine On

# Redirecionar usuários não logados para a página de erro
RewriteCond %{REQUEST_URI} !^/login.php
RewriteCond %{REQUEST_URI} !^/pagina-de-erro
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/home.php
RewriteCond %{REQUEST_URI} !^/registro.php
RewriteCond %{REQUEST_URI} !^/entrar.php
RewriteCond %{REQUEST_URI} !^/eventos.php
RewriteCond %{REQUEST_URI} !^/radar.php
RewriteCond %{REQUEST_URI} !^/pesquisar.php
RewriteCond %{REQUEST_URI} !^/chat.php
RewriteCond %{REQUEST_URI} !^/logout.php
RewriteRule ^ /pagina-de-erro [L,R=302]

# Suas regras existentes
RewriteRule ^registro$ registro.php [L]
RewriteRule ^entrar$ entrar.php [L]
RewriteRule ^home$ home.php [L]
RewriteRule ^eventos$ eventos.php [L]
RewriteRule ^radar$ radar.php [L]
RewriteRule ^pesquisar$ pesquisar.php [L]
RewriteRule ^chat$ chat.php [L]
RewriteRule ^logout$ logout.php [L]

RewriteRule ^perfil/([a-zA-Z0-9_-]+)$ perfil.php?username=$1 [NC,L]
