.home { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; }
.home .wrapper { width: 899px; height: 100vh; align-items: center;  position: relative; } 
.home .wrapper .topMenu {  padding: 7px 20px; display: flex; justify-content: space-between; width: 100%;  z-index: 2; border: 0px solid #e3e3e3 !important; background-color: #fff; box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.09); }
.home .wrapper .topMenu .logo img { width: 100px; }

.home .wrapper .topMenu .nav { display: flex; align-items: center; gap: 25px; }
.home .wrapper .topMenu .nav .avatar { width: 30px; height: 30px; border-radius: 50px; background: #f1f1f1; }

.home .wrapper .bottomMenu { background: #E74C3C; width: 100%; padding:10px 0px; position: fixed; bottom: 0; left:0; right: 0; margin: 0 auto;  z-index: 1; display: flex; align-items: center; justify-content: space-between; gap: 20px;  }
.home .wrapper .bottomMenu div { position: relative; width: 25%; }
.home .wrapper .bottomMenu div.active:after { background: #E74C3C; border-radius: 50px; content: ''; width: 50px; height: 50px; position: absolute; top: -20px; left: 0; right: 0; margin: 0 auto; }
.home .wrapper .bottomMenu div.active img { margin: 0 auto; display: block; position: relative; z-index: 1; opacity: 1; }
.home .wrapper .bottomMenu div img { margin: 0 auto; display: block; position: relative; z-index: 1; opacity: 0.5; }