@media only screen and (max-width:899px) {
    .home { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; }
    .home .wrapper { width: 899px; height: 100vh; align-items: center;  position: relative; } 
    .home .wrapper .topMenu { margin-top:-1px; position:fixed; gap: 20px; padding: 7px 20px; display: flex; width: 100%; z-index: 3; border: 0px solid #e3e3e3 !important; background-color: #fff; box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.09); }
    .home .wrapper .topMenu .overlay { background: rgba(0,0,0,0.8); width: 100%; position: absolute; height: 70vh; left: 0; top: 300px; }
    .home .wrapper .topMenu .menu img { width: 22px; margin-top: 7px; opacity: 0.6; }
    .home .wrapper .topMenu .menu ul { list-style: none; background: #fff; width: 100%; position: absolute; left: 0; padding: 0px 20px 0px 20px; top: 50px; z-index: 1; display: none; }
    .home .wrapper .topMenu .menu ul li { line-height: 45px; font-size: 17px; font-weight: 500; }
    .home .wrapper .topMenu .menu ul li:first-child { margin-top: 10px; }
    .home .wrapper .topMenu .menu ul li:last-child { margin-bottom: 15px; }

    .home .wrapper .topMenu .logo img { width: 100px; }

    .home .wrapper .topMenu .nav { display: flex; align-items: center; gap: 25px; margin-left: auto; }
    .home .wrapper .topMenu .nav .avatar { width: 30px; height: 30px; border-radius: 50px; background: #f1f1f1; }
    .home .wrapper .topMenu .nav .avatar img { width: 100%; border-radius: 50px; }

    .home .wrapper .maskBottom { width: 100%; height: 100px; background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); position: fixed; bottom: 0; z-index: 2;}
    .home .wrapper .bottomMenu { background: #E74C3C; width: 100%; padding:10px 0px; position: fixed; bottom: 0; left:0; right: 0; margin: 0 auto;  z-index: 2; display: flex; align-items: center; justify-content: space-between; gap: 20px;  }
    .home .wrapper .bottomMenu div { position: relative; width: 25%; }
    .home .wrapper .bottomMenu div.active:after { background: #E74C3C; border-radius: 50px; content: ''; width: 50px; height: 50px; position: absolute; top: -20px; left: 0; right: 0; margin: 0 auto; }
    .home .wrapper .bottomMenu div.active img { margin: 0 auto; display: block; position: relative; z-index: 1; opacity: 1; }
    .home .wrapper .bottomMenu div img { margin: 0 auto; display: block; position: relative; z-index: 1; opacity: 0.5; width: 23px; }
}