@media only screen and (max-width:899px) {
    .home .content .headProfile { width: 100%; display: flex; align-items: center; gap: 20px; border-bottom: 1px solid #e8e8e8; padding-bottom: 15px; margin-top: 65px;}
    .home .content .headProfile div:nth-child(1) { width: 80%; display: flex; gap: 10px; }
    .home .content .headProfile div:nth-child(1) .avatarProfile { width: 100%; position: relative; }
    .home .content .headProfile div:nth-child(1) .avatarProfile img.upload { position: absolute; width: 20px; height: auto; bottom: 0; right: 0px; left: 35px; object-fit: cover; }
    .home .content .headProfile div:nth-child(1) .infoUser { width: 70%; }
    .home .content .headProfile div:nth-child(2) { width: 50%; }
    .home .content .headProfile div span { font-weight: 600; font-size: 17px; margin-top: 3px; display: block; }
    .home .content .headProfile div img { width: 50px; height: 50px; display: inline-block; margin-right: 10px; border-radius: 100px; object-fit: cover; }
    .home .content .headProfile div p { font-size: 11px; margin: 0; opacity: 0.5; font-weight: 600; }
    .home .content .headProfile div button { float: right; }
    .home .content .headProfile div button { background: #E74C3C; width:100%; font-size: 14px; color: #fff; text-align: center; border: none; font-weight: 700; padding: 5px 0px; border-radius: 15px; }
    
    .home .content .infoProfile { width: 100%; margin-top: 20px; }

    /* SINGLE */
    .home .content .infoProfile { position: relative; }
    .home .content .infoProfile .payment { position: absolute; top: 0; width: 100%; text-align: center; height: 50vh; display: flex; flex-direction: column; align-items: center; justify-content: center; z-index: 1; }
    .home .content .infoProfile .payment h2 { font-size: 18px; padding: 0px 10%; margin-top: 20px; margin-bottom: 10px; }
    .home .content .infoProfile .payment p { margin-bottom: 0; font-size: 15px; font-weight: 500; margin-bottom: 20px; opacity: 0.6; }
    .home .content .infoProfile .payment img { width: 65%; margin: 0 auto; display: block; margin-bottom: 0; }
    .home .content .infoProfile .payment button { background: #E74C3C; width: 60%; font-size: 15px; color: #fff; text-align: center; border: none; font-weight: 700; padding: 10px 0px; border-radius: 15px; }

    .home .content .infoProfile .detailProfileSingle { width: 100% !important;}
    .home .content .infoProfile .detailProfileSingle.filter { filter: blur(0.8rem); user-select: none; pointer-events: none; }
    .home .content .infoProfile .detailProfileSingle .nav-tabs { justify-content: space-between; }
    .home .content .infoProfile .detailProfileSingle .nav-tabs .nav-item .nav-link { font-weight: 500; font-size: 14px; padding: 10px 0px; background: transparent; border-radius: 0px; border: none; color: #000; }
    .home .content .infoProfile .detailProfileSingle .nav-tabs .nav-item .nav-link.active { border-bottom: 2px solid #E74C3C; color: #E74C3C; font-weight: 600; }

    .home .content .infoProfile .detailProfileSingle .tab-content { width: 100% !important;}
    .home .content .infoProfile .detailProfileSingle .tab-content .tab-pane { width: 100% !important; }
    /* .home .content .infoProfile .detailProfileSingle .tab-content .tab-pane.filter { filter: blur(0.8rem); user-select: none; pointer-events: none; } */

    .home .content .infoProfile .detailProfileSingle span { font-weight: 600; color: #E74C3C; font-size: 16px; display: flex; justify-content: space-between; align-items: center; }
    .home .content .infoProfile .detailProfileSingle span img { width: 23px; }
    .home .content .infoProfile .detailProfileSingle ul { list-style: none; margin: 0; padding: 0; margin-top: 5px; }
    .home .content .infoProfile .detailProfileSingle ul li { display: flex; align-items: center; justify-content: space-between; font-weight: 600; line-height: 30px; font-size: 13px; }
    .home .content .infoProfile .detailProfileSingle ul li span { color: initial; font-weight: initial; font-size: 14px; opacity: 0.6; }
    .home .content .infoProfile .detailProfileSingle p { font-size: 13px; line-height: 22px; margin: 0; margin-bottom: 15px; }
    .home .content .infoProfile .detailProfileSingle .divider { border: 1px solid #f1f1f1; margin: 10px 0; }

    .home .content .infoProfile .detailProfileSingle .gallery { width: 100%; margin-top: 10px; margin-bottom: 50px; }
    .home .content .infoProfile .detailProfileSingle .gallery .inputfile { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }
    .home .content .infoProfile .detailProfileSingle .gallery .inputfile + label { max-width: 100%; width: 100%; font-size: 20px; font-weight: 700; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; display: flex; align-items: center; overflow: hidden; padding: 0.625rem 1.25rem; gap: 10px; justify-content: center; }
    .home .content .infoProfile .detailProfileSingle .gallery .inputfile + label { color: #000; background-color: transparent; border: 2px dashed #d2d2d2; border-radius: 15px; margin-bottom: 20px; }
    .home .content .infoProfile .detailProfileSingle .gallery .inputfile + label svg { width: 1em; height: 1em; vertical-align: middle; fill: currentColor; margin-top: -0.25em; margin-right: 0.25em; }
    .home .content .infoProfile .detailProfileSingle .gallery .inputfile + label span { color: #000; }

    
    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid { width: 100%; display: flex; flex-wrap: nowrap; gap: 20px; overflow-x: auto; overflow-y: hidden; }
    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid .photo-item { flex: 0 0 40%; position: relative; }
    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid .photo-item .overlay { background: rgba(0,0,0,0.9); width: 100%; height: 100%; position: absolute; top: 0; border-radius: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center; z-index: 0; }
    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid .photo-item .overlay img { width: 20px; height: auto; object-fit: initial; border-radius: 0;}
    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid .photo-item .overlay span { color: #fff; font-size: 12px; display: block; margin-top: 8px; }
    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid .photo-item img { width: 100%; height: 220px; border-radius: 20px; object-fit: cover; }


    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid .photo-item .photo-actions { position: absolute; bottom: 10px; width: 100%; left: 10px; }
    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid .photo-item .photo-actions .like-button { border: none; width: auto; display: flex; align-items: center; background: #000; border-radius: 20px; gap: 5px; justify-content: center; }
    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid .photo-item .photo-actions .like-button.liked i { color: #e74c3b; }
    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid .photo-item .photo-actions .like-button i { color: #fff; font-size: 11px; line-height: 10px; margin-left: 2px; }
    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid .photo-item .photo-actions .like-button span { color: #fff; font-size: 12px; font-weight: bold; }

    .home .content .infoProfile .detailProfileSingle .gallery .photo-grid .photo-item .photo-actions .hide-button { position: absolute; top: -180px; right: 19px; background: #e74c3b; border: none; border-radius: 12px; color: #fff; padding: 3px 7px; z-index: 1;}





    /* COUPLE */
    .home .content .infoProfile .detailProfileGroup { width: 100% !important;}
    .home .content .infoProfile .detailProfileGroup.filter { filter: blur(0.2rem); }
    .home .content .infoProfile .detailProfileGroup .nav-tabs { justify-content: space-between; margin-top: -20px; margin-bottom: 20px; }
    .home .content .infoProfile .detailProfileGroup .nav-tabs .nav-item { width: 33%; }
    .home .content .infoProfile .detailProfileGroup .nav-tabs .nav-item .nav-link { font-weight: 500; font-size: 14px; padding: 10px 0px; background: transparent; border-radius: 0px; border: none; color: #000; width: 100%; }
    .home .content .infoProfile .detailProfileGroup .nav-tabs .nav-item .nav-link.active { border-bottom: 2px solid #E74C3C; color: #E74C3C; font-weight: 600; }

    .home .content .infoProfile .detailProfileGroup .tab-content { width: 100% !important;}
    .home .content .infoProfile .detailProfileGroup .tab-content .tab-pane { width: 100% !important;}

    .home .content .infoProfile .detailProfileGroup span { font-weight: 600; color: #E74C3C; font-size: 16px; display: flex; justify-content: space-between; align-items: center; }
    .home .content .infoProfile .detailProfileGroup span img { width: 23px; }
    .home .content .infoProfile .detailProfileGroup ul { list-style: none; margin: 0; padding: 0; margin-top: 5px; }
    .home .content .infoProfile .detailProfileGroup ul li { display: flex; align-items: center; justify-content: space-between; font-weight: 600; line-height: 30px; font-size: 13px; }
    .home .content .infoProfile .detailProfileGroup ul li span { color: initial; font-weight: initial; font-size: 14px; opacity: 0.6; }
    .home .content .infoProfile .detailProfileGroup p { font-size: 13px; line-height: 22px; margin: 0; margin-bottom: 15px; }
    .home .content .infoProfile .detailProfileGroup .divider { border: 1px solid #f1f1f1; margin: 10px 0; }

    .home .content .infoProfile .detailProfileGroup .gallery { width: 100%; margin-top: 10px; margin-bottom: 50px; }
    .home .content .infoProfile .detailProfileGroup .gallery .inputfile { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }
    .home .content .infoProfile .detailProfileGroup .gallery .inputfile + label { max-width: 100%; width: 100%; font-size: 20px; font-weight: 700; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; display: flex; align-items: center; overflow: hidden; padding: 0.625rem 1.25rem; gap: 10px; }
    .home .content .infoProfile .detailProfileGroup .gallery .inputfile + label { color: #fff; background-color: #e74c3c; border-radius: 15px; margin-bottom: 20px; }
    .home .content .infoProfile .detailProfileGroup .gallery .inputfile + label svg { width: 1em; height: 1em; vertical-align: middle; fill: currentColor; margin-top: -0.25em; margin-right: 0.25em; }
    .home .content .infoProfile .detailProfileGroup .gallery .inputfile + label span { color: #fff; }

    
    .home .content .infoProfile .detailProfileGroup .gallery .photo-grid { width: 100%; display: flex; flex-wrap: nowrap; gap: 20px; overflow-x: auto; overflow-y: hidden; }
    .home .content .infoProfile .detailProfileGroup .gallery .photo-grid .photo-item { flex: 0 0 40%; }
    .home .content .infoProfile .detailProfileGroup .gallery .photo-grid .photo-item img { width: 100%; height: 220px; border-radius: 20px; object-fit: cover; }

}


