@media only screen and (max-width:899px) {
    .home .content .radar { width: 100%; height: 70vh; display: flex; align-items: center; justify-content: center; flex-direction: column; }
    .home .content .radar img { margin: 0 auto; display: block; width: 30%; border-radius: 0px; }
    .home .content .radar h2 { font-weight: 600; text-align: center; margin-top: 30px; }
    .home .content .radar p { text-align: center; padding: 0px 30px; color: #848484; }
    .home .content .radar button { background: #E74C3C; width: 60%; font-size: 15px; color: #fff; text-align: center; border: none; font-weight: 700; padding: 10px 0px; margin-top: 30px; border-radius: 15px; }
    .home .content .radar button:disabled { opacity: 0.5; }
    .home .content .radar button.active { background: #2ecc71; }
    .home .content .radar .btn-active-location.loading:after { content: ' Carregando...'; }
    .home .content .radar .btn-active-location:disabled { cursor: not-allowed; }
}


