@media only screen and (max-width:899px) {
    .register { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; }
    .register .wrapper { width: 899px; height: 100vh; align-items: center;  position: relative; } 
    .register .wrapper .step1 { padding: 0px 1rem; position: relative; height: 90%; }
    .register .wrapper .step1 img { margin: 0 auto; display: block; width: 150px; margin-top: 50px; }
    .register .wrapper .step1 h2 { font-weight: 600; font-size: 18px; margin-top: 30px; text-align: center; }
    .register .wrapper .step1 small { display: block; text-align: center; font-size: 12px; padding: 0px 40px; margin-bottom: 20px; opacity: 0.7;}
    .register .wrapper .step1 span { font-weight: 600; font-size: 13px; }
    .register .wrapper .step1 div { background: #f1f1f1; padding: 1rem; border-radius: 15px; margin-bottom: 20px; }
    .register .wrapper .step1 div p { font-size: 12px; line-height: 20px; margin: 0; margin-top: 5px; }
    .register .wrapper .step1 .next { background: #E74C3C; width: 100%; font-size: 15px; color: #fff; text-align: center; border: none; font-weight: 700; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }

    .register .wrapper .step2 { padding: 0px 1rem; position: relative; height: 92.5%; }
    .register .wrapper .step2 h2 { font-weight: 600; font-size: 18px; margin-top: 30px; text-align: center; }
    .register .wrapper .step2 small { display: block; text-align: center; font-size: 12px; padding: 0px 40px; margin-bottom: 20px; opacity: 0.7; }
    .register .wrapper .step2 .form-check { margin-bottom: 20px; background: #f1f1f1; padding: 8px 0px 11px 40px; border-radius: 15px; display: flex; align-items: center; gap: 10px; border: 1px solid transparent;}
    .register .wrapper .step2 .form-check.active { border: 1px solid #d2d2d2; }
    .register .wrapper .step2 .form-check .form-check-label { font-weight: 500; font-size: 14px; margin-top: 4px; }
    .register .wrapper .step2 .form-check .form-check-input { width: 20px; height: 20px; }
    .register .wrapper .step2 .form-check .form-check-input:checked { background-color: #E74C3C; border: 1px solid #E74C3C; }
    .register .wrapper .step2 .form-check .form-check-input:focus { box-shadow: none; border: 1px solid #dee2e6; }

    .register .wrapper .step2 .buttonsNav { display: flex; align-items: center; justify-content: space-between; gap: 20px; width: 100%; }
    .register .wrapper .step2 .buttonsNav .back { background: transparent; color: #979797; border: 1px solid #949494; width: 100%; font-size: 15px; text-align: center; font-weight: 700; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }
    .register .wrapper .step2 .buttonsNav .next { background: #E74C3C; width: 100%; font-size: 15px; color: #fff; text-align: center; border: none; font-weight: 700; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }

    .register .wrapper .step3 { padding: 0px 1rem; position: relative; height: 92.5%; }
    .register .wrapper .step3 h2 { font-weight: 600; font-size: 18px; margin-top: 30px; text-align: center; }
    .register .wrapper .step3 small { display: block; text-align: center; font-size: 12px; padding: 0px 40px; margin-bottom: 20px; opacity: 0.7; }

    .register .wrapper .step3 label { font-size: 14px; font-weight: 500; display: block; margin-bottom: 7px; }
    .register .wrapper .step3 .form-select { padding: 10px 15px; margin-bottom: 20px; width: 100%; border-radius: 15px; font-size: 14px; }
    .register .wrapper .step3 .form-select:focus { box-shadow: none; border: 1px solid #E9E9E9; }

    .register .wrapper .step3 .buttonsNav { display: flex; align-items: center; justify-content: space-between; gap: 20px; width: 100%; }
    .register .wrapper .step3 .buttonsNav .back { background: transparent; color: #979797; border: 1px solid #949494; width: 100%; font-size: 15px; text-align: center; font-weight: 700; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }
    .register .wrapper .step3 .buttonsNav .next { background: #E74C3C; width: 100%; font-size: 15px; color: #fff; text-align: center; border: none; font-weight: 700; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }

    .register .wrapper .step4 { padding: 0px 1rem; position: relative; height: 92.5%; }
    .register .wrapper .step4 h2 { font-weight: 600; font-size: 18px; margin-top: 30px; text-align: center; }
    .register .wrapper .step4 small { display: block; text-align: center; font-size: 12px; padding: 0px 40px; margin-bottom: 20px; opacity: 0.7; }

    .register .wrapper .step4 label { font-size: 14px; font-weight: 500; display: block; margin-bottom: 7px; }
    .register .wrapper .step4 .username { position: relative; }
    .register .wrapper .step4 .username .availability-icon { position: absolute; top: 9px; right: 10px; width: 25px; height: 25px; }
    .register .wrapper .step4 .username .availability-icon.disponivel { content: ""; background-image: url('../../images/icons/icCheckOk.svg'); background-size: 100%; display: block; width:25px; height: 25px; }
    .register .wrapper .step4 .username .availability-icon.indisponivel { content: ""; background-image: url('../../images/icons/icCheckNo.svg'); background-size: 100%; display: block; width:25px; height: 25px; }
    .register .wrapper .step4 .username .form-control { padding: 10px 15px; margin-bottom: 20px; width: 100%; border-radius: 15px; font-size: 14px; }
    .register .wrapper .step4 .username .form-control:focus { box-shadow: none; border: 1px solid #E9E9E9; }

    .register .wrapper .step4 .buttonsNav { display: flex; align-items: center; justify-content: space-between; gap: 20px; width: 100%; }
    .register .wrapper .step4 .buttonsNav .back { background: transparent; color: #979797; border: 1px solid #949494; width: 100%; font-size: 15px; text-align: center; font-weight: 700; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }
    .register .wrapper .step4 .buttonsNav .next { background: #E74C3C; width: 100%; font-size: 15px; color: #fff; text-align: center; border: none; font-weight: 700; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }


    .register .wrapper .step5 { padding: 0px 1rem; position: relative; height: 92.5%; }
    .register .wrapper .step5 h2 { font-weight: 600; font-size: 18px; margin-top: 30px; text-align: center; }
    .register .wrapper .step5 small { display: block; text-align: center; font-size: 12px; padding: 0px 40px; margin-bottom: 20px; opacity: 0.7; }

    .register .wrapper .step5 label { font-size: 14px; font-weight: 500; display: block; margin-bottom: 7px; }
    .register .wrapper .step5 .form-control { padding: 10px 15px; margin-bottom: 20px; width: 100%; border-radius: 15px; font-size: 14px; }
    .register .wrapper .step5 .form-control:focus { box-shadow: none; border: 1px solid #E9E9E9; }

    .register .wrapper .step5 .form-check .form-check-label { font-weight: 500; font-size: 11px; margin-top: 4px; }
    .register .wrapper .step5 .form-check .form-check-label a { color: #E74C3C; font-weight: 600; text-decoration: underline; }
    .register .wrapper .step5 .form-check .form-check-input { width: 20px; height: 20px; }
    .register .wrapper .step5 .form-check .form-check-input:checked { background-color: #E74C3C; border: 1px solid #E74C3C; }
    .register .wrapper .step5 .form-check .form-check-input:focus { box-shadow: none; border: 1px solid #dee2e6; }

    .register .wrapper .step5 .buttonsNav { display: flex; align-items: center; justify-content: space-between; gap: 20px; width: 100%; }
    .register .wrapper .step5 .buttonsNav .back { background: transparent; color: #979797; border: 1px solid #949494; width: 100%; font-size: 15px; text-align: center; font-weight: 700; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }
    .register .wrapper .step5 .buttonsNav .next { background: #E74C3C; width: 100%; font-size: 15px; color: #fff; text-align: center; border: none; font-weight: 700; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }


    .register .wrapper .step6 { padding: 0px 1rem; position: relative; height: 92.5%; }
    .register .wrapper .step6 h2 { font-weight: 600; font-size: 18px; margin-top: 30px; text-align: center; }
    .register .wrapper .step6 small { display: block; text-align: center; font-size: 12px; padding: 0px 40px; margin-bottom: 20px; opacity: 0.7; }

    .register .wrapper .step6 label { font-size: 14px; font-weight: 500; display: block; margin-bottom: 7px; }
    .register .wrapper .step6 .form-control { padding: 10px 15px; margin-bottom: 20px; width: 100%; border-radius: 15px; font-size: 14px; }
    .register .wrapper .step6 .form-control:focus { box-shadow: none; border: 1px solid #E9E9E9; }

    .register .wrapper .step6 .buttonsNav { display: flex; align-items: center; justify-content: space-between; gap: 20px; width: 100%; }
    .register .wrapper .step6 .buttonsNav .back { background: transparent; color: #979797; border: 1px solid #949494; width: 100%; font-size: 15px; text-align: center; font-weight: 700; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }
    .register .wrapper .step6 .buttonsNav .next { background: #E74C3C; width: 100%; font-size: 15px; color: #fff; text-align: center; border: none; font-weight: 700; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }

    .register .wrapper .step7 { padding: 0px 1rem; position: relative; height: 92.5%; }
    .register .wrapper .step7 img { margin: 0 auto; display: block; margin-top: 30px; }
    .register .wrapper .step7 h2 { font-weight: 600; font-size: 18px; margin-top: 30px; text-align: center; }
    .register .wrapper .step7 small { display: block; text-align: center; font-size: 12px; padding: 0px 40px; margin-bottom: 20px; opacity: 0.7; }
    .register .wrapper .step7 span { font-weight: 600; font-size: 13px; }
    .register .wrapper .step7 div { background: #f1f1f1; padding: 1rem; border-radius: 15px; margin-bottom: 20px; }
    .register .wrapper .step7 div p { font-size: 12px; line-height: 20px; margin: 0; margin-top: 5px; }
    .register .wrapper .step7 button { background: #E74C3C; width: 100%; font-size: 15px; color: #fff; text-align: center; border: none; font-weight: 600; padding: 10px 0px; margin-top: 10px; border-radius: 15px; }

    .ui-menu { background: white; width: 90% !important; position: absolute !important; left: 0 !important; top: 190px !important; right: 0 !important; margin: 0 auto; box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1), 0px 30px 45px -30px rgba(50, 50, 93, 0.25); border-radius: 10px; padding: 20px 25px; max-height: 300px; overflow-y: scroll; list-style: none; }
    .ui-menu li.ui-menu-item { line-height: 45px; font-size: 14px; font-weight: 500; }
}


